/II/Ex2Practica/Preguntas - Javier/build/
/II/Ex2Practica/Preguntas - Javier/nbproject/private/
/II/Ex2Practica/Questions/nbproject/private/
/II/Ex2Practica/Questions/build/
/II/Ex2Practica/Questions/dist/
/II/Examen II/Sugerencias/nbproject/private/
/II/Examen II/Sugerencias/build/