/* Phones <768  by default container 100%, columns 100%  */
.container {max-width: 100%;}
.col-izq {width: 100%;}
.col-cen {width: 100%;}
.col-der {width: 100%;}

@media screen and (min-width: 768px) {  /* Tablets 768-992 */
.container {max-width: 90%;}
.col-izq {width: 25%;}
.col-cen {width: 40%;}
.col-der {width: 35%;}
}

@media screen and (min-width: 992px) {  /* Regular desktop 992-1200 */
.container {max-width: 85%;}
.col-izq {width: 25%;}
.col-cen {width: 50%;}
.col-der {width: 25%;}
}

@media screen and (min-width: 1200px) {  /* Large desktop >1200 */
.container {max-width: 80%;}
.col-izq {width: 25%;} 
.col-cen {width: 50%;}
.col-der {width: 25%;}
}

.container {
  margin: 0 auto;
}

* {
    box-sizing: border-box;
}
.row {
	font-size:0px; /* remueve espacio indeseado */
}
[class*="col-"] {
    display: inline-block;
    padding: 15px;
	font-size:15px;
	vertical-align: top;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}