body {
    margin-top: 35px;
}

.container {
    background-color: #8BC34A;
	color: #ffffff;
    padding-bottom: 30px;
}

.form-group .title {
    font-size: 25px;
}
.btn {
    font-size: 20px;
}

.invalid {
    box-shadow: 0 0 5px 1px #E53935;
}

input[type="text"].focus {background-color: #BBDEFB;}
input[type="text"].nofocus {background-color: white;}
.btn-radio:hover{
    background-color: #BBDEFB !important;
}

thead {
    font-size: 25px;
}
td, th {
    border: 5px solid lightgray; 
}
.table-condensed {
    border: 5px solid lightgray;
}
#lista {
    padding-top: 20px;
}


