body {

}

table {
    border: 1px solid black;
    width: 25%    
}

#numberDisplay {
    width: 27%;
    text-align: right;
    font-size: 30px;
}

td {
    height: 60px;
    width: 60px;
    margin: 2px;
    padding: 2px;
}

.btn {
    height: 100%;
    width: 100%;
}

.space {
    width: 20px;
}
