body {
	background-image: url(../images/background.jpg);
}
h1 { color:purple;}

.etiqueta {
	color: blue;
}
.titulo{
	font-weight: bold;
	text-align: center;
	color: red;
}

#tdMasc {
	width: 70px; height:70px;
	vertical-align: bottom;
	background-image:url(../images/male.png);
	background-repeat: no-repeat;	
}

#tdFem {
	width: 70px; height:70px;
	vertical-align: bottom;
	background-image:url(../images/female.png);
	background-repeat: no-repeat;
}

input[type="text"].focus {background-color:pink;}
input[type="text"].nofocus {background-color:white;}

input.invalid {box-shadow: 0 0 5px 1px red;}
