body, #title {
    font-family: 'Roboto', sans-serif;
}

div img {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    border: 2px solid white;
    box-shadow: 8px 8px 5px grey;
}

.marcador {
    font-size: 40px;
}

.field {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 630px;
    height: 400px;
    background-color: #558B2F;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    box-shadow: 8px 8px 5px grey;
    border: 8px solid white;
    float: center;
}

.leftGoal, 
.rightGoal {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    width: 125px;
    height: 240px;
    background-color: #558B2F;
    border: 8px solid white;
}

.leftGoal {
    margin-left: -20px;
    margin-right: 500px;
    float: left;
}
.leftHalfCircle, 
.rightHalfCircle {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 92px;
    width: 45px;
    background-color: #558B2F;
    border: 8px solid white;
}

.leftHalfCircle {
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    margin-left: 109px;
}

.rightGoal {
    margin-left: 482px;
}

.rightHalfCircle {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    margin-right: 109px;
    margin-left: -45px;
}

.centerLine {
    width: 8px;
    background-color: white;
    height: 390px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.centerCircle {
    border: 8px solid white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    z-index: 50;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.below {
    position: absolute;
    z-index: 50;
    background-color: red;
    margin: auto;
    left: 0;
    top: 750px;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
}